---
postgres_user: django_user
postgres_password: MCIrlCpeGxUjbE6Npebp
postgres_db: django
db_host: db
db_port: 5432
secret_key: jiZYdBLkvdiFVz4yUkWdEDsZMiBt7b88hVCrelLx
debug: True
allowed_hosts: '127.0.0.1, localhost, 192.168.60.10'
use_sqlite: False
csrf_cookie_secure: False
session_cookie_secure: False
secure_hsts_seconds: 3600
secure_hsts_include_subdomains: False

admin:
  superuser_username: admin
  superuser_password: Qwerty789
  superuser_email: admin@a.com

botuser:
  superuser_username: botuser
  superuser_password: iamabot
  superuser_email: bot@a.com
